.common--button {
  padding: 10px;
  cursor: pointer;
  background-color: #f3f3f3;
  color: #000000;

  &:hover {
    background-color: #e8e8e8;
  }

  margin-right: 10px;
}

.clicked {
  background-color: blue !important;
  color: #f0f0f0;
}
