.dashboard {
  .dashboard__nav {
    a {
      display: inline-block;
      margin-bottom: 2rem;
      padding: 10px;
      border-radius: 5px;
      font-size: 14px;
      color: #333;
      font-weight: 500;
      margin-right: 1rem;
    }

    .active {
      color: #fff;
      background: blue;
    }
  }
}
