.card {
  border: 1px solid #dfdfdf;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;

  .title {
    font-size: 14px;
    color: blue;
    font-weight: 600;
    padding-bottom: 10px;
  }

  .desc {
    font-size: 14px;
    color: #333;
    font-weight: 500;
  }
}
